# Libraries

In [80]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) # seaborn warning about not using data=... notation
import seaborn as sns

import os

from datetime import datetime

from sklearn.preprocessing import StandardScaler
from sklearn.dummy import DummyClassifier
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

sns.set(rc = {'figure.figsize':(25, 12)})

# Data import

In [2]:
def loadRawData():
    # Loading each csv into the list and concat them into one dataframe in one step 
    df = []

    for file in os.listdir('data'):
        temp = pd.read_csv(
            f'data/{file}', 
            parse_dates = {'date': ['year', 'month', 'day', 'hour']}, 
            date_parser = lambda x: datetime.strptime(x, '%Y %m %d %H'),
            keep_date_col = True # will be used as dummies
        )

        # Values for different stations in each city are simmilar, so we can take the mean of them 
        targetCols = [col for col in temp.columns if 'PM' in col]
        temp['meanPM'] = temp[targetCols].mean(axis=1).round(2)

        targetCols.extend(('No', 'Iprec'))
        temp.drop(targetCols, axis=1, inplace=True)

        # Adding the source of the data from the filename
        temp['source'] = file.split('PM')[0]
        df.append(temp)

    df = pd.concat(df, axis = 0)

    # Moving important columns to the front, will be usefull when categorical columns are converted to dummies
    colsToMove = ['date', 'source', 'meanPM']
    df = df[colsToMove + [col for col in df.columns if col not in colsToMove]]
    df['dayOfWeek'] = df['date'].dt.dayofweek

    df = df[df.date > datetime(2012, 1, 1)]
    
    ### Replace incorrect values with NaN ###
    df.DEWP          = df.DEWP.replace(-9999, np.nan)
    df.DEWP          = df.DEWP.replace(-97, np.nan)

    df.HUMI          = df.HUMI.replace(-9999, np.nan)
    df.precipitation = df.precipitation.replace(999990, np.nan)

    return df.reset_index(drop = True)

# Data wrangling

In [12]:
loadRawData().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175315 entries, 0 to 175314
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           175315 non-null  datetime64[ns]
 1   source         175315 non-null  object
 2   meanPM         158144 non-null  float64
 3   year           175315 non-null  object
 4   month          175315 non-null  object
 5   day            175315 non-null  object
 6   hour           175315 non-null  object
 7   season         175314 non-null  float64
 8   DEWP           174795 non-null  float64
 9   HUMI           174465 non-null  float64
 10  PRES           174452 non-null  float64
 11  TEMP           174797 non-null  float64
 12  cbwd           174802 non-null  object
 13  Iws            174790 non-null  float64
 14  precipitation  167445 non-null  float64
 15  dayOfWeek      175315 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(1), object(6)
memory usage: 21.4+ MB

In [99]:
def prepareTrainTestSet():
    df = loadRawData()

    ### Fill missing values in independent variables ###
    colsToFill = df.columns.to_list()
    colsToFill.remove('meanPM')

    # Missing values in the independent variables are rare, so they are just filled with the previous value
    df[colsToFill] = df[colsToFill].fillna(method = 'ffill').fillna(method = 'bfill')


    ### Lagging the variables ###
    independentCols = ['DEWP', 'HUMI', 'PRES', 'TEMP', 'Iws', 'precipitation']
    df[independentCols] = df[independentCols].shift(24) # 24 hours lag
    
    df['meanPM_24h']  = df.groupby('source').shift(24).meanPM
    df['meanPM_7d']   = df.groupby('source').shift(24 * 7).meanPM
    df['meanPM_30d']  = df.groupby('source').shift(24 * 30).meanPM 
    df['meanPM_365d'] = df.groupby('source').shift(24 * 365).meanPM # later this sadly drops the first year of data
    

    ### Convert categorical to dummies ###
    catCols = ['source', 'month', 'day', 'hour', 'season', 'cbwd', 'dayOfWeek']
    temp = [df.drop(catCols, axis = 1)]
    temp.extend(pd.get_dummies(df[col], prefix = col) for col in catCols)
    df = pd.concat(temp, axis = 1)
    
    
    ### Designate last year (~20%) of the data as test set ###
    df['isTestSet'] = (df.date > datetime(2015, 1, 1)).astype(int)
    
    
    ### Target col for classification ###
    df['isDangerous'] = (df.meanPM > 100).astype(int)
    
    
    ### Scale the numerical columns ###
    numCols = ['meanPM', 'DEWP', 'HUMI', 'PRES', 'TEMP', 'Iws', 'precipitation', 'meanPM_24h', 'meanPM_7d', 'meanPM_30d', 'meanPM_365d']
    
    scaler = StandardScaler()
    scaler.fit(df[df.isTestSet == 0][numCols])
    
    df[numCols] = scaler.transform(df[numCols])
    
    
    ### Drop rows with NaN values ###
    # 35% of the dataset is dropped. This is just a quick analysis so it's ok
    # In a production model, the missing values should be investigated and filled with more sophisticated methods
    # e.g. using a moving average (but the gaps are wider than 24 hours, so it's not ideal)
    droppedRows = df.isnull().any(axis = 1).sum()
    percentOfTotal = (droppedRows / df.shape[0] * 100).round(2)
    print(f'Dropping {droppedRows} ({percentOfTotal}%) rows with NaN')
    
    df = df[~df.isnull().any(axis = 1)].reset_index(drop = True)


    ### Drop unnecessary columns ###
    df = df.drop(['date', 'year'], axis = 1)


    ### Split the data into train and test sets ###
    independentCols = [col for col in df.columns if col not in ['meanPM', 'isTestSet', 'isDangerous']]
    
    X_train = df[df.isTestSet == 0][independentCols]
    X_test  = df[df.isTestSet == 1][independentCols]
    
    y_train = df[df.isTestSet == 0]['meanPM']
    y_test  = df[df.isTestSet == 1]['meanPM']
    
    y_train_class = df[df.isTestSet == 0]['isDangerous']
    y_test_class  = df[df.isTestSet == 1]['isDangerous']

    return X_train, X_test, y_train, y_test, y_train_class, y_test_class

In [98]:
#X_train, X_test, y_train, y_test, y_train_class, y_test_class = prepareTrainTestSet()

,date,source,meanPM,year,month,day,hour,season,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,dayOfWeek,meanPM_24h,meanPM_7d,meanPM_30d,meanPM_365d
0,2012-01-01 01:00:00,Beijing,215.00,2012,1,1,1,4.0,NaN,NaN,NaN,NaN,NW,NaN,NaN,6,NaN,NaN,NaN,NaN
1,2012-01-01 02:00:00,Beijing,222.00,2012,1,1,2,4.0,NaN,NaN,NaN,NaN,NW,NaN,NaN,6,NaN,NaN,NaN,NaN
2,2012-01-01 03:00:00,Beijing,85.00,2012,1,1,3,4.0,NaN,NaN,NaN,NaN,NW,NaN,NaN,6,NaN,NaN,NaN,NaN
3,2012-01-01 04:00:00,Beijing,38.00,2012,1,1,4,4.0,NaN,NaN,NaN,NaN,NE,NaN,NaN,6,NaN,NaN,NaN,NaN
4,2012-01-01 05:00:00,Beijing,23.00,2012,1,1,5,4.0,NaN,NaN,NaN,NaN,NE,NaN,NaN,6,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175310,2015-12-31 19:00:00,Shenyang,254.33,2015,12,31,19,4.0,-10.0,67.88,1031.0,-5.0,SE,32.0,0.0,3,206.67,35.33,35.00,36.00
175311,2015-12-31 20:00:00,Shenyang,314.33,2015,12,31,20,4.0,-11.0,67.65,1031.0,-6.0,SE,35.0,0.0,3,210.67,37.67,31.00,39.33
175312,2015-12-31 21:00:00,Shenyang,331.67,2015,12,31,21,4.0,-11.0,73.05,1032.0,-7.0,SE,37.0,0.0,3,210.00,65.00,26.67,36.33
175313,2015-12-31 22:00:00,Shenyang,287.67,2015,12,31,22,4.0,-11.0,78.94,1032.0,-8.0,SE,1.0,0.0,3,198.00,80.00,25.33,31.33
175314,2015-12-31 23:00:00,Shenyang,275.00,2015,12,31,23,4.0,-13.0,78.61,1032.0,-10.0,SE,1.0,0.0,3,193.67,84.67,21.67,24.00

Dropping 62427 (35.61%) rows with NaN

In [ ]:
    #from sklearn.pipeline import Pipeline
    ##from sklearn.compose import ColumnTransformer
    #from sklearn.preprocessing import OneHotEncoder
    
    # sklearn pipeline did not work well
    
    #numCols = ['DEWP', 'HUMI', 'PRES', 'TEMP', 'Iws', 'precipitation', 'meanPM_24h', 'meanPM_7d', 'meanPM_30d', 'meanPM_365d']
    #catCols = ['source', 'month', 'day', 'hour', 'season', 'cbwd', 'dayOfWeek']
    #dropCols  = ['date', 'year']
    #passCols  = ['meanPM']
    #
    #
    #fullPipeline = ColumnTransformer([
    #    ('target', 'passthrough', passCols),
    #    ('num', StandardScaler(), numCols),
    #    ('cat', OneHotEncoder(), catCols),
    #    ('drop', 'drop', dropCols)
    #]) 
    #
    #df = pd.DataFrame(fullPipeline.fit_transform(df).todense())
    #
    ##df.columns = passCols + numCols + fullPipeline.named_transformers_['cat'].get_feature_names(catCols)

# Modeling

In [100]:
X_train, X_test, y_train, y_test, y_train_class, y_test_class = prepareTrainTestSet()

Dropping 62427 (35.61%) rows with NaN

### Classification

In [101]:
classDummy = DummyClassifier(strategy = 'most_frequent')
classDummy.fit(X_train, y_train_class)
classDummy.score(X_test, y_test_class)

0.8356830112555304

In [102]:
classRF = RandomForestClassifier(n_estimators = 1000, max_depth = 10, random_state = 42, verbose = 1, n_jobs = -1)
classRF.fit(X_train, y_train_class)
classRF.score(X_test, y_test_class)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:    0.8s
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done 768 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    4.8s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 168 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 418 tasks      | elapsed:    0.1s
[Parallel(n_jobs=16)]: Done 768 tasks      | elapsed:    0.3s
[Parallel(n_jobs=16)]: Done 1000 out of 1000 | elapsed:    0.4s finished

0.8628475804048323

### Regression

In [103]:
regRF = RandomForestRegressor(n_estimators = 1000, max_depth = 10, random_state = 42, verbose = 1, n_jobs = -1)
regRF.fit(X_train, y_train)
regRF.score(X_test, y_test)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 168 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done 418 tasks      | elapsed:   16.6s
[Parallel(n_jobs=-1)]: Done 768 tasks      | elapsed:   30.0s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:   38.7s finished
[Parallel(n_jobs=16)]: Using backend ThreadingBackend with 16 concurrent workers.
[Parallel(n_jobs=16)]: Done  18 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 168 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 418 tasks      | elapsed:    0.0s
[Parallel(n_jobs=16)]: Done 768 tasks      | elapsed:    0.1s
[Parallel(n_jobs=16)]: Done 1000 out of 1000 | elapsed:    0.2s finished

0.354404101653947

In [104]:
# feature importance as a table with col names
pd.Series(regRF.feature_importances_, index = X_train.columns).sort_values(ascending = False).head(20) * 100

meanPM_24h         42.042290
DEWP                7.523801
PRES                6.090841
meanPM_30d          4.444219
meanPM_7d           3.275160
cbwd_cv             2.973958
meanPM_365d         2.892313
source_Beijing      2.615140
cbwd_NW             2.311247
HUMI                1.584966
month_1             1.512789
TEMP                1.502663
day_31              1.432938
Iws                 1.409106
day_12              1.394113
cbwd_SE             1.035609
source_Shenyang     0.984769
cbwd_NE             0.931350
month_10            0.871246
day_6               0.832260
dtype: float64